<h1>Stupid Coaching</h1>


<div class="question">
<%= @question %>
<p>-You</p>
</div>
<br>
<div class="answer">
<%= @answer %>
<p>-Stupid Coach</p>
<br>
</div>
<br>
<%= link_to 'Ask another question', '/ask'%>


