<h1>Stupid Coach</h1>
<p>Ask your coach anything</p>
<div class="container">
<form action="/answer" method="get">
  <input id = "search-bar"type="text" name="question">
  <input id = "submit "type="submit" value="Ask!">
</form>
</div>
