// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  border-left: 5px solid blue;
  padding-left: 10px;
  font-size: 32px;
};

.answer {
  border-left: 5px solid blue;
  padding-left: 10px;
  font-size: 32px;
  background-color: #92a8d1;
  font-style: italic;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
}

.container {
  width: auto;
  display: flex;
}


#search-bar {
  width: 100%;
}

#submit {
  width: 100px;
}

